nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
}

.logo {
  position: relative;
  top: 0;
  margin: 20px;
  width: 150px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  justify-content: center;
}

li {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: black;
}
